@model IEnumerable<DB43.Models.QuizQuestionsViewModel>

@{
    ViewBag.Title = "Q_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q_TotalMarks)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q_TotalMarks)
        </td>
        
        <td>
            @Html.ActionLink("Add Options", "Create_options", new { id=item.Id }) |
            @Html.ActionLink("Question Options", "Q_Options", new { id=item.Id })
        </td>
    </tr>
}

</table>
