
@model IEnumerable<DB43.Models.DepartmentViewModel>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/Teacherlayout.cshtml";
}

<section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../university/university/images/3047128_students.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">INSTITUTE MANAGEMENT SYSTEM</h1>
                    <!--<p class="bcrumb"><a href="index.html">Home</a> <span class="sep ion-android-arrow-dropright px-2"></span>  <span class="current">Contact Us</span></p>-->
                </div>

            </div>
        </div>
    </div>
</section>




<div class="sec-title p-b-60">
    <h3 class="m-text5 t-center">
        DEPARTMENTS
    </h3>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="block-19">
                <figure>
                    <img src="@Url.Content(item.Image)" height="350" width="450" class="img-fluid" />
                </figure>
                <div class="text">
                    <h2 class="heading"><a href="#">@item.Name</a></h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <div class="meta d-flex align-items-center">
                                
                        <a href="~/Register/Get_Id/@item.Id" class="price text-right"><span>View Course</span></a>
                    



                    </div>
                </div>
            </div>
        </div>
    }
</div>






@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div style="margin-bottom:20px">
                <img src="@Url.Content(item.Image)" height="350" width="450" />
                <a href="~/products/Details/@item.Id" class="btn btn-default">Explore</a>
            </div>
            <div class="caption">
                <h3>
                    @*@*@*@Html.ActionLink(@item.ProductName, "Details", new { id = item.ImageId })*@*@*@
                        @*<a href="~/products/Details/@item.Id" class="btn btn-default">Explore</a>*@

                    @*</h3>
                                        <br />
                                    </div>

                                </div>
                            }
                        </div>*@



                    @*<div>
                            <h4>DepartmentViewModel</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Image)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Image)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>*@
