@model DB43.Models.CourseViewModels

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>CourseViewModels</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Credits)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Credits)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Fee)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Fee)
		</dd>

	</dl>
</div>
<p>

</p>
<p><a href="#" class="btn btn-primary py-2 px-4"><span class="ion-ios-book mr-2"></span>Popular Courses</a></p>
<div class="container-fluid block-11 element-animate">
	<div class="nonloop-block-11 owl-carousel">
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_1.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>2,219/6,000</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_3.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>2,219/6,000</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_2.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Introduction to CSS</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>1,903/3,000</span>
						</div>
						<div class="price text-right"><span>$10.99</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_1.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Design &amp; Develop</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>23/100</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_1.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>2,219/6,000</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_3.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Advanced JavaScript Learning</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>2,219/6,000</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_2.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Introduction to CSS</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>1,903/3,000</span>
						</div>
						<div class="price text-right"><span>$10.99</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="block-19">
				<figure>
					<img src="~/university/university/images/img_1.jpg" alt="Image" class="img-fluid">
				</figure>
				<div class="text">
					<h2 class="heading"><a href="#">Design &amp; Develop</a></h2>
					<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
					<div class="meta d-flex align-items-center">
						<div class="number">
							<span>23/100</span>
						</div>
						<div class="price text-right"><del class="mr-3">$23</del><span>Free</span></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

</div>